@media only screen and (min-width: 1201px) {
    .main-logo{
        margin-top: 5%;
    }
    .main-logo img{
        width: 160px;
        height: 160px;
    }
    
    .login{
        margin: 50px auto;
    }
    .results{
        width: 100%;
        height: 350px;
        overflow-y: scroll;
    }
    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .options{
        width: fit-content;
    }
    .menu-wrap {
        visibility: hidden;
    }
}
@media only screen and (max-width: 1200px) {
    .main-logo{
        margin-top: 10%;
    }
    .main-logo img{
        width: 100px;
        height: 160px;
    }
    
    .login{
        margin-bottom: 10%;
    }
    .results{
        width: 100%;
        height: 320px;
        overflow-y: scroll;
    }
    
    .card{
        margin: 10px 0;
        width: 100%;
    }
    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .options{
        width: fit-content;
    }
    
    
    .profile_photo{
        margin: 10px ;
    }

    .user_description{
        width: 100%;
        max-width: 200px;
    }
    
    .username{
        width: 100%;
        max-width: 200px;
        font-size: 15px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
    }
    
    .userId{
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }
    
    .birth_date{
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }

    .see_docs{
        letter-spacing: 0.5px;
    }
    
    .upload_docs{
        letter-spacing: 0.5px;
    }
    
    .edit{
        letter-spacing: 0.5px;
    }

    .delete{
        letter-spacing: 0.5px;
    }

    .prescriptiondate,
    .prescriptiondesc,
    .drname{
        font-size: 15px;
        letter-spacing: 0.5px;
}
    .reportdate,
    .reportdesc,
    .drname{
        font-size: 15px;
        letter-spacing: 0.5px;
}
.info_professional{
    display: flex;
    justify-content: center;
}

.options{
    width: fit-content;
}
.menu-wrap {
    visibility: hidden;
}
}

@media only screen and (max-width: 1080px) {
    .results{
        height: 280px;
    }
    .back_to > a{
        font-size: 12px;
    }
        .modal_columns{
        flex-flow: column;
    }
    .link{
        font-size: 12px;
    }

    .h4{
        font-size: 24px;
    }

    .card{
        margin: 10px 0;
        width: 100%;
        height: fit-content;
    }
    .card-utente,
    .card-pro{
        margin: 10px 0;
        max-width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .card > .options > .upload_docs{
        width: 199px;
        margin: 2px 0;
    }
    .card > .options > .delete{
        width: 199px;
        margin: 2px 0;
    }
    .card.card-utente >.options>.upload_docs,
    .card.card-utente >.options>.edit,
    .card.card-utente >.options>.delete{
        margin: 2px 0;
        width: 198px;
    }

    .card.card-pro >.options>.edit.edit_dados,
    .card.card-pro >.options>.see_utentes{
        margin: 0 5px;
        width: 149px;
    }
   .card.card-pro > .options > .delete{
       margin: 0 5px;
        width: 149px;
    }

    .options{
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
    }
    .menu-wrap {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .main-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
    .main-logo img{
        width: 100px;
        height: 160px;
    }
    
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20%;
    }

    .tab-bar-utentes{
        display: none;
    }
    .results{
        width: 100%;
        height: 320px;
        overflow-y: scroll;
    }

    .modal_columns{
        flex-flow: column;
    }
    .header_rigth.h4.edit-page{
        display: none;
    }
        
    .link{
        font-size: 10px;
    }
    .h4{
        font-size: 20px;
    }

    .card{
        margin: 10px 0;
        width: 100%;
    }
    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card.card-utente >.options{
        display: block;
        height: 168px;
        margin: 0.5rem auto;
    }
    .card.card-utente >.options>.upload_docs,
    .card.card-utente >.options>.edit,
    .card.card-utente >.options>.delete{
        margin: 2px 0;
        width: 198px;
    }

    .card.card-pro >.options{
        display: block;
        height: 126px;
    }

    .card.card-pro >.options>.edit.edit_dados,
    .card.card-pro >.options>.see_utentes{
        margin: 2px 0;
        width: 149px;
    }
    .card.card-pro > .options > .delete{
        margin: 0;
         width: 149px;
     }
 
    .options{
        width: fit-content;
    }
    .menu-wrap {
        visibility: visible;
    }
}


@media only screen and (max-width: 600px) {
    .results{
        height: 450px;
    }
    .tabs{
        max-width: 400px;
    }

    .divider{
        width: 100%;
    }

    .reports_tab, .reports_tab a, .reports_tab a:visited {
        width: 155px;
    }

    .button {
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.25px;
        text-align: center;
    }

    .help_title{
        margin: 10px 0;
    }
    
    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        height: fit-content;
    }

    .card > .prescription_description,
    .card > .report_description{
        margin: 0 0 1.5rem 0;
    }
    .card > .options{
        margin: 0.5rem auto;
    }
    .options_panel{
        margin: 0 auto;
    }

    .icon_type{
        margin: 0;
    }
    .card.card-utente ,
    .card.card-utente {
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .doc_modal_columns{
        margin: 0;
    }
    
    .form_edit_left,
    .form_edit_right{
        width: 300px;
    }

    .edit_left,
    .edit_right{
        width: 300px;
    }
    .name,.gender,.birthday,.identify,
    .email,.phone,.country,.docs_id, 
    .district,.address,.zip_code,.zip_code_fields,
    .professional,.btn_form, .header_left, .header_left.h4, .h4 > h4{
        width: 300px;
    }
    .field_1, .field_2{
        width: 75px;
    }
    .location{
        width: 150px;
    }
    .docs_id > input{
        width: 145px;
    }
    .name > input, .gender > select,
    .email > input, .phone > input,
    .country > select, .district > select,
    .address > input, .professional > select{
        width: 300px;
    }

    .submit_form, .cancel{
        width: 145px;
    }
    .submit_form,.cancel{
        padding: 15px 25px;
    }

    .reports, .prescription, .multimedia{
        flex-flow: column;
    }
    .menu-wrap {
        visibility: visible;
    }
}
