@media only screen and (min-width: 1201px) {
    .main-logo{
        margin-top: 5%;
    }
    .main-logo img{
        width: 160px;
        height: 160px;
    }
    
    .login{
        margin: 50px auto;
    }
    .back_to{
        top: 6.8rem;
        left: 15%;
        background-color: transparent;
        justify-content: flex-start;
    }

    .results.results-admin{
        height: calc(100vh - 334px);
    }
    .results.results-list{
        height: calc(100vh - 261px);
    }
    .results.results-list-admin{
        height: calc(100vh - 312px);
    }
    .results.results-options{
        height: calc(100vh - 427px);
    }
    .results.results-options-utentes{
        height: calc(100vh - 321px);
    }



    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .options{
        width: fit-content;
    }
    .menu-wrap {
        visibility: hidden;
    }
}
@media only screen and (max-width: 1200px) {
    .main-logo{
        margin-top: 10%;
    }
    .main-logo img{
        width: 100px;
        height: 160px;
    }
    
    .login{
        margin-bottom: 10%;
    }

    .back_to{
        top: 6.8rem;
        left: 10%;
        background-color: transparent;
        justify-content: flex-start;
    }

    .results.results-admin{
        height: calc(100vh - 334px);
    }
    .results.results-list{
        height: calc(100vh - 312px);
    }
    .results.results-list-admin{
        height: calc(100vh - 260px);
    }
    .results.results-options{
        height: calc(100vh - 311px);
    }
    .results.results-options-utentes{
        height: calc(100vh - 311px);
    }

    
    .card{
        margin: 10px 0;
        width: 100%;
    }
    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .options{
        width: fit-content;
    }
    
    
    .profile_photo{
        margin: 10px ;
    }

    .user_description{
        width: 100%;
        max-width: 200px;
    }
    
    .username{
        width: 100%;
        max-width: 200px;
        font-size: 15px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
    }
    
    .userId{
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }
    
    .birth_date{
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }

    .see_docs{
        letter-spacing: 0.5px;
    }
    
    .upload_docs{
        letter-spacing: 0.5px;
    }
    
    .edit{
        letter-spacing: 0.5px;
    }

    .delete{
        letter-spacing: 0.5px;
    }

    .prescriptiondate,
    .prescriptiondesc,
    .drname{
        font-size: 15px;
        letter-spacing: 0.5px;
}
    .reportdate,
    .reportdesc,
    .drname{
        font-size: 15px;
        letter-spacing: 0.5px;
}
.info_professional{
    display: flex;
    justify-content: center;
}

.options{
    width: fit-content;
}
.menu-wrap {
    visibility: hidden;
}
}

@media only screen and (max-width: 1080px) {
    .back_to{
        background-color: transparent;
        top: 6.8rem;
        left: 1rem;
    }

    .back_to > a{
        font-size: 12px;
    }
    
    .modal > .modal_columns{
        flex-flow: column;
    }

    .button.link > span{
        background-color: transparent;
    }

    .h4{
        font-size: 24px;
    }

    .results.results-admin{
        height: calc(100vh - 334px);
    }
    .results.results-list{
        height: calc(100vh - 312px);
    }
    .results.results-options{
        height: calc(100vh - 201px);
    }
    .results.results-options-pro{
        height: calc(100vh - 440px);
    }


    .card{
        margin: 10px 0;
        width: 100%;
        height: fit-content;
    }
    .card-utente,
    .card-pro{
        margin: 10px 0;
        max-width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .card > .options > .upload_docs{
        width: 199px;
        margin: 2px 0;
    }
    .card > .options > .delete{
        width: 199px;
        margin: 2px 0;
    }
    .card.card-utente >.options>.upload_docs,
    .card.card-utente >.options>.edit,
    .card.card-utente >.options>.delete{
        margin: 2px 0;
        width: 198px;
    }

    .card.card-pro >.options>.edit.edit_dados,
    .card.card-pro >.options>.see_utentes{
        margin: 0 5px;
        width: 149px;
    }
   .card.card-pro > .options > .delete{
       margin: 0 5px;
        width: 149px;
    }

    .options{
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
    }
    .menu-wrap {
        visibility: hidden;
    }

    /* Modal Insert utente, pro */

    /* .modal-new >.form_edit_left,
    .modal-new >.form_edit_right{
        width: 300px;
        height: fit-content;
    }

    .modal-new >.edit_left,
    .modal-new >.edit_right{
        width: 300px;
    }
    .modal-new >.name,.gender,.birthday,.identify,
    .email,.phone,.country,.docs_id, 
    .district,.address,.zip_code,.zip_code_fields,
    .professional,.btn_form, .header_left, .header_left.h4, .h4 > h4, .h4.edit-mobile{
        width: 300px;
    }
    .field_1, .field_2{
        width: 75px;
    }
    .location{
        width: 150px;
    }
    .docs_id > input{
        width: 145px;
    }
    .name > input, .gender > select,
    .email > input, .phone > input,
    .country > select, .district > select,
    .address > input, .professional > select{
        width: 300px;
    }

    .submit_form, .cancel{
        width: 145px;
    }
    .submit_form,.cancel{
        padding: 15px 25px;
    } */
    /*  */
}

@media only screen and (max-width: 768px) {
    .logo-sup{
       height: 60px;
    }
    .logo-sup > img{
        margin-top:0.5rem;
        margin-right: 0.5rem;
    }

    .main-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
    .main-logo img{
        width: 100px;
        height: 160px;
    }
    
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20%;
    }

    .back_to{
        top: 1rem;
        left: 3%;
        background-color: transparent;
        justify-content: flex-start;
    }

    .link-text{
        display: none;
    }

    .tab-bar-utentes{
        display: none;
    }

    .modal_columns{
        flex-flow: column;
    }
    .header_rigth.h4.edit-page{
        display: none;
    }
        
    .h4{
        font-size: 20px;
    }

    .results.results-admin{
        height: calc(100vh - 304px);
    }
    .results.results-list-admin{
        height: calc(100vh - 297px);
    }
    .results.results-options-admin{
        height: calc(100vh - 514px);
    }
    .results.results-options{
        height: calc(100vh - 171px);
    }
    .results.results-options-pro{
        height: calc(100vh - 426px);
    }
    .results.results-options-utentes{
        height: calc(100vh - 273px);
    }
    .results.results-list{
        height: calc(100vh - 454px);
    }

    .card{
        margin: 10px 0;
        width: 100%;
    }
    .card_utente,
    .card-pro{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card.card-utente >.options{
        display: block;
        margin: 0.5rem auto;
    }
    .card.card-utente >.options>.upload_docs,
    .card.card-utente >.options>.edit,
    .card.card-utente >.options>.delete{
        margin: 2px 0;
        width: 198px;
    }

    .card.card-pro >.options{
        display: block;
    }

    .card.card-pro >.options>.edit.edit_dados,
    .card.card-pro >.options>.see_utentes{
        margin: 2px 0;
        width: 149px;
    }
    .card.card-pro > .options > .delete{
        margin: 0;
        width: 149px;
    }

    .options{
        width: fit-content;
    }
    .menu-wrap {
        visibility: visible;
    }

        /* Modal Insert utente, pro */
        /* .body1, .body2{
            font-size: 12px;
            height: fit-content;
        }
        .hide{
            visibility: hidden;
        } */
        /*  */
        
}


@media only screen and (max-width: 600px) {
    .tabs{
        max-width: 400px;
    }

    .divider{
        width: 100%;
    }

    .reports_tab, .reports_tab a, .reports_tab a:visited {
        width: 155px;
    }

    .button {
        font-family: 'Cabin', sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.25px;
        text-align: center;
    }

    .help_title{
        margin: 10px 0;
    }

    .results.results-admin{
        height: calc(100vh - 303px);
    }
    .results.results-list-admin{
        height: calc(100vh - 454px);
    }
    .results.results-list-pro{
        height: calc(100vh - 465px);
    }
    .results.results-list{
        height: calc(100vh - 448px);
    }
    .results.results-options{
        height: calc(100vh - 698px);
    }
    .results.results-options-admin{
        height: calc(100vh - 686px);
    }
    .results.results-options-utentes{
        height: calc(100vh - 273px);
    }
    .results.results-list{
        height: calc(100vh - 454px);
    }
    
    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        height: fit-content;
    }

    .card > .prescription_description,
    .card > .report_description{
        margin: 0 0 1.5rem 0;
    }
    .card > .options{
        margin: 0.5rem auto;
    }
    .options_panel{
        margin: 0 auto;
    }

    .icon_type{
        margin: 0;
    }
    .card.card-utente ,
    .card.card-utente {
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .doc_modal_columns{
        margin: 0;
    }
    
    .form_edit_left,
    .form_edit_right{
        width: 300px;
    }

    .edit_left,
    .edit_right{
        width: 300px;
    }
    .name,.gender,.birthday,.identify,
    .email,.phone,.country,.docs_id, 
    .district,.address,.zip_code,.zip_code_fields,
    .professional,.btn_form, .header_left, .header_left.h4, .h4 > h4, .h4.edit-mobile{
        width: 300px;
    }
    .field_1, .field_2{
        width: 75px;
    }
    .location{
        width: 150px;
    }
    .docs_id > input{
        width: 145px;
    }
    .name > input, .gender > select,
    .email > input, .phone > input,
    .country > select, .district > select,
    .address > input, .professional > select{
        width: 300px;
    }

    .submit_form, .cancel{
        width: 145px;
    }
    .submit_form,.cancel{
        padding: 15px 25px;
    }

    .reports, .prescription, .multimedia{
        flex-flow: column;
    }
    .menu-wrap {
        visibility: visible;
    }
}